* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//********************************************/
//* Variable Declaration
//********************************************/

$bg-color: #bb66ff;
$font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
$font-size: 1.2rem;
$font-color: #333;
$nav-bg-color: #007bff;
$my-border: 2px solid #ddd;
$banner-bg-color: #0056b3;
$button-bg-color: #28a745;
$lightColor: #f8f9fa;

body {
  background-color: $bg-color;
  font-family: $font-family;
  font-size: $font-size;
  color: $font-color;
}

/* ---------------------------------- */
/*               HEADER               */
/* ---------------------------------- */

header {
  background-color: $nav-bg-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;

  img {
    width: 80px;
    border: $my-border;
    padding: 5px;
    border-radius: 10px;
  }

  ul {
    list-style-type: none;

    li {
      display: inline-block;
      padding: 0.5rem;
      &:hover {
        text-decoration: underline;
      }
    }

    a {
      color: white;
      text-decoration: none;
      &:hover {
        color: $font-color;
      }
    }
  }
}

/* ---------------------------------- */
/*               BANNER               */
/* ---------------------------------- */

.banner {
  background-color: $banner-bg-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  color: white;
  line-height: 1.5;

  img {
    width: 30%;
    max-width: 400px;
    min-width: 250px;
  }

  aside {
    button {
      background-color: $button-bg-color;
      padding: 0.75rem 2rem;
      border: none;
      margin-top: 1rem;
      margin-left: 0.5rem;
      color: $lightColor;
      font-weight: bold;
      border-radius: 5px;
      &:hover {
        background-color: darken($button-bg-color, 10%);
        cursor: pointer;
        transform: scale(0.97);
      }
    }
  }
}
//*******  CARDS  *********/

/* ---------------------------------- */
/*               MIXINS               */
/* ---------------------------------- */

@mixin myBox($parametre1, $paramertre2: blue) {
  background-color: $parametre1;
  width: 25%;
  height: 15rem;
  border-radius: 1rem;
  color: $paramertre2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards {
  display: flex;
  gap: 1rem;
  padding: 1rem;
}
.card1 {
  @include myBox(green, white);
}
.card2 {
  @include myBox(red);
}
.card3 {
  @include myBox(yellow, blue);
}
.card4 {
  @include myBox(maroon, skyblue);
}

//*******  ARTİCLES  *********/

/* ---------------------------------- */
/*               EXTEND               */
/* ---------------------------------- */

.articles {
  display: flex;
  padding: 1rem;
  gap: 1rem;
}

.article1 {
  background-color: gray;
  width: 50%;
  height: 10rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $lightColor;
}

.article2 {
  @extend .article1;
  background-color: yellow;
  color: blue;
}

//*******  FOOTER *********/

//*******  FOOTER *********/
//! FOR LOOP
//*************************

//***********************************************
//! IF-ELSE
//************************************************

footer {
  $tema: 2;

  p {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    @if  $tema==1{
        background-color: red;
    } @else if $tema==2 {
        background-color: orange;
    } @else {
        background-color: teal;
    }
  }
}


.social-icons{
    display: flex;
    height: 10rem;
    $textColor: #990000, #55004e, #0fa8a1, #dcacf1, #64c217;


    @for $i from 1 through 5 {
        .social#{$i}{
            width: 20%;
            background-color: lighten(blue, $i * 5);
            font-size: 1rem * $i;
            color: nth($textColor , $i );
        }
    }
}
