
//********************************************/
//* Variable Declaration
//********************************************/

$bg-color: #bb66ff;
$font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
$font-size: 1.2rem;
$font-color: #333;
$nav-bg-color: #007bff;
$my-border: 2px solid #ddd;
$banner-bg-color: #0056b3;
$button-bg-color: #28a745;
$lightColor: #f8f9fa;