.container{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: repeat(5,100px) 30px;
    max-width: 1000px;
}


.content{
    /* color: red; */
    border: 2px solid;
}

.content1{
    background-color: silver;
    grid-area: 2/1/4/2;
    max-width: 150px;
}

.content3{
    background-image: url("https://picsum.photos/id/566/600/400");
    background-size: cover;
    grid-area: 1/2/3/4;
}

.content2{
    background-color: rgba(255, 166, 0, 0.778);
    grid-area: 2/3/3/4;
    z-index: 1;
}

.content5{
    background-image: url("https://picsum.photos/id/777/600/400");
    background-size: cover;
    grid-column: 4 / span 2;
    grid-row: 1 / span 2 ;
}
.content4{
    background-color: rgba(0, 128, 128, 0.758);
    grid-area: 2/5/3/6;
    z-index: 1;
}

.content7{
    background-image: url("https://picsum.photos/id/155/600/400");
    background-size: cover;
    grid-area: 1/6/3 /8;
}
.content8{
    background-color: rgba(220, 20, 60, 0.821);
    grid-area: 2/7/3/8;
}