*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav{
    /* border: 2px solid red; */
    display: flex;
    /* background-color: bisque; */
    justify-content: center;
    align-items: center;
    text-align: center;

}

nav .left,
nav .middle,
nav .right{
    /* border: 2px solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #bcbcbc;
    box-shadow: 2px 2px 5px  black;
}

nav .left{
    flex: 1;
    flex-shrink: 0;
    

}

.left img{
    width: 50px;
    height: 50px;
}

nav .middle{
    flex: 2;
    z-index: 1;
    gap: 1rem;
    flex-wrap: wrap;
    min-height: 100px;
    flex-direction: row;
    

}

nav .middle a{
    color: black;
    text-decoration: none;
    font-weight: bolder;
}

nav .right{
    flex: 1;
    display: flex ;
    justify-content: space-around;

    

}

.right a {
    /* border: 2px solid red; */
    color: black;
    font-size: 2rem;
}

header{
    margin-top: 50px;
    /* border: 3px solid red; */
    display: flex;
    align-items: center;
    width: 80%;
    margin: 50px auto;
    flex-wrap: wrap;

}

.img{
    /* background-color: blue; */
    flex: 1;

}

.img img{
    width: 100%;
    min-width: 250px;
}

.text{
/* background-color: yellow; */
flex: 2;
}