.outher {
  background-color: brown;
  width: 500px;
  height: 500px;
}

.inner {
  background-color: gray;
  width: 50%;
  height: 50%;

  /* animation: name duration timing-function delay iteration-count direction fill-mode; */

animation: travel 2s ease-in-out 2s infinite alternate both ;

  /* animation-name: travel;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-delay: 5s;
  animation-iteration-count: 3;
  animation-direction: alternate;
  animation-fill-mode: both; */




}




@keyframes travel {
  0% {
    transform: translate(0);
    background-color: yellow;
  }
  25% {
    transform: translateY(100%);
    background-color: blue;
  }
  50% {
    transform: translate(100%, 100%);
  }

  100% {
    transform: translateX(100%);
    background-color: teal;
  }
}
