@import "./theme.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-color: var( --blue-light-3); */
  font-family: var(--ff-yeon);
}

p{
    font-size: 1rem
}

.container {
  /* border: 2px solid red; */
  max-width: 1200px;
  margin: 2rem auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  flex-wrap: wrap;
}

nav img {
  width: 200px;
}

button {
  padding: 1rem 1.2rem;
  white-space: nowrap;
  border: 2px solid #b9586c;
  border-radius: 5px;
  font-family: var(--ff-yeon);
  margin: 1rem 0.5rem;
  font-size: var(--fs-lg);
  box-shadow: var(--shadow-light);
}
button:hover {
  opacity: 0.8;
  cursor: pointer;
}
.btn-light {
  background-color: var(--white);
}

.btn-dark {
  background-color: var(--red-dark);
  color: var(--white);
}

header.hero {
  /* border: 4px solid red; */
  display: flex;
  align-items: center;
  padding: 1rem;
  text-align: justify;
}

header.hero h1,
p {
  line-height: var(--line-h-xl);
}

.section-text {
  /* border: 5px solid blue; */
  flex: 2;
}

.section-img {
  /* border: 5px solid green; */
  flex: 1;
}

.section-img img {
  width: 100%;
  min-width: 300px;
}





main .card {
  /* border: 5px solid red; */
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  box-shadow: var(--shadow-dark);
  margin: 2rem 0;
  border-radius: 5px;
}

main article {
  /* border: 5px solid blue; */
  flex: 1;
}

main .card img {
  width: 100%;
}


main .card:nth-child(even){
    flex-direction: row-reverse;
}










@media screen and (max-width: 700px) {
  nav {
    flex-direction: column;
    text-align: center;
  }

  nav img {
    width: 250px;
  }

  header.hero {
    flex-direction: column;
  }
  main .card{
    flex-direction: column;
  }
  main .card:nth-child(even){
    flex-direction: column;
}

}
@media screen and (max-width: 400px) {
  .section-btn button {
    width: 300px;
  }
  .career-btn {
    /* border: 2px solid red; */
    text-align: center;
  }

  .career-btn button {
    width: 300px;
  }

  html{
    font-size: 20px; /*  1rem = 20px */
  }
}
